/* @charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Orbitron&display=swap";
/* @import "foundation/oreset"; */
@import "micromodal.css";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&family=Yuji+Syuku&family=Zen+Kaku+Gothic+New:wght@300;400&family=Zen+Old+Mincho&display=swap"); */
@import "micromodal.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.code-style--white * {
  visibility: visible !important;
}

::selection {
  background-color: theme(colors.richGreen);
  color: white;
}

@layer base {
  html {
    font-feature-settings: "palt";
    /* overflow-x: clip; */
  }

  body {
    font-family: "Zen Kaku Gothic New", "sans-serif", "Zen Old Mincho", "Yuji Syuku", "serif", "Roboto", "sans-serif";
  }
  input,
  button,
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0;
    font: inherit;
    outline: none;
  }

  textarea {
    resize: vertical;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  input[type="submit"],
  input[type="button"],
  label,
  button,
  select {
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }

  .select_wrapper {
    position: relative;
  }

  .select_wrapper::after {
    content: "";
    position: absolute;
    /* left: 0; */
    top: 2.75em;
    right: 12px;
    border-right: 0.375rem solid transparent;
    border-left: 0.375rem solid transparent;
    border-top: 0.6rem solid rgba(0, 0, 0, 0.495);
    border-bottom: 0;
  }

  @media (min-width: 768px) {
    .select_wrapper::after {
      top: 1em;
    }
  }
  select {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
  }
}

@layer components {
  .dark .svg {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(282deg) brightness(108%) contrast(101%);
  }
  .code-style--white {
    @apply mb-[max(1.65vw,0.65rem)] block whitespace-nowrap font-roboto-mono text-[max(4vw,2rem)] font-thin text-fvCodeColor w-full;
  }

  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(222, 222, 222, 0.6);
  }

  .text-stroke--green {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 255, 76, 1);
  }

  .screen-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  .fv-box {
    box-shadow:
      -10px -10px 20px 0px rgba(100, 100, 100, 0.2) inset,
      20px 20px 20px 0px rgba(100, 100, 100, 0.2) inset,
      -5px 5px 10px 0px rgba(255, 255, 255, 0.9) inset,
      5px -5px 13px 0px rgba(100, 100, 100, 0.9) inset;
  }

  .dark .fv-box {
    box-shadow:
      1px 1px 2px 0px rgba(50, 50, 50, 0.3) inset,
      -1px -1px 2px 0px rgba(14, 14, 14, 0.5) inset,
      -7px 7px 14px 0px rgba(14, 14, 14, 0.2),
      7px -7px 14px 0px rgba(14, 14, 14, 0.2),
      -7px -7px 14px 0px rgba(50, 50, 50, 0.9),
      7px 7px 18px 0px rgba(14, 14, 14, 0.9);
  }

  .grad-text {
    /* display: block;
    background-image: repeating-linear-gradient(193deg, @apply richGreen, rgba(175, 228, 141, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    @apply bg-gradient-to-r from-richGreen to-lightGreen bg-clip-text;
    -webkit-text-fill-color: transparent;
  }

  .grad-text-2 {
    @apply bg-gradient-to-r from-blackGreen  to-lightGreen bg-clip-text;
    -webkit-text-fill-color: transparent;
  }
}

input,
textarea {
  @apply bg-white;
}
.modeButton {
  position: relative;
  display: flex;
  width: 160px;
  height: 80px;
  background-color: black;
  border-radius: 30rem;
  overflow: hidden;
  cursor: pointer;
  text-indent: -9999px;
  white-space: nowrap;
}

.dark label {
  @apply text-white;
}

.dark .inversion {
  filter: brightness(100%) contrast(0%);
}
svg {
  fill: white;
}
.modeButton:after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;

  /* Choose the result */
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.65);
  /* transition: all 0.4s ease; */
  /* transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.65); */
  /*transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.65);*/ /* Enter from outside */
}
.toggle-dark-mode {
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 99999999;
}
.modeButton:active::after {
  width: 75px;
}

.darkModeButton {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkModeButton:checked + .modeButton:after {
  left: calc(100% - 10px);
  transform: translateX(-100%);
}
